body{
    background-color: #FFFFFF;
    font-family: Poppins, Courier, monospace;
}
.big-text{
    line-height: 68.79px;
    letter-spacing: 2.25px;
    // font-family: 'Hiragino Sans';
    // src: local('Hiragino Sans'), url('/src/assets/hiragino_sans/hiragino_sans.woff') format('woff');
}