body{
    background-color: #FFFFFF;
    font-family: Poppins, Courier, monospace;
}
.big-text{
    
    
    @media (min-width: 640px) {
        line-height: 68.79px;
        letter-spacing: 2.25px;
        // font-family: 'Hiragino Sans';
        // src: local('Hiragino Sans'), url('/src/assets/hiragino_sans/hiragino_sans.woff') format('woff');
      }
}
.create-project{
    height: calc(100vh - 150px);
    // overflow-x: hidden;
    overflow-y: auto;

}
.project_list{
    height: calc(100vh - 230px);
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none !important;
}
.shadow{
    box-shadow: 0px -2px 12px 0px #0000001A;
}
.w-fit-content{
    width: fit-content;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slide-in 0.5s ease-out;
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-out {
    animation: slide-out 0.3s ease-in forwards;
  }
  .spinner {
    width: 35px;
    height: 35px;
    animation: rotate 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }