// Fonts
$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$manrope: "Source Sans Pro", Manrope, Helvetica, Verdana, sans-serif;

// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$extrabold: 700;